@font-face {
    font-family: 'rubik-bold';
    src: url(../fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: 'rubik-light';
    src: url(../fonts/Rubik-Light.ttf);
}

@font-face {
    font-family: 'rubik-regular';
    src: url(../fonts/Rubik-Regular.ttf);
}